* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(42, 41, 41);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border: 2px solid rgb(42, 41, 41);
  border-radius: 15px;
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
}
.output {
  color: white;
  margin-bottom: 3px;
  padding-right: 20px;
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttons {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  grid-gap: 2px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.98);
}
.operator:hover {
  background: rgb(137, 3, 3);
}
.btn {
  height: 75px;
}

.func:hover {
  background-color: rgb(210, 208, 208);
}
.func {
  background-color: rgb(132, 132, 132);
  color: rgb(42, 41, 41);
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  background-color: rgb(235, 235, 235);
  color: rgb(42, 41, 41);
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number:hover {
  background-color: rgb(210, 208, 208);
}
.operator {
  background-color: rgb(245, 163, 10);
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.operator-equals {
  background-color: rgb(245, 163, 10);
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.operator-equals:hover {
  background: rgb(137, 3, 3);
}

.num-zero {
  grid-column: span 2;
}
